<link rel="stylesheet" type="text/css" href="/Styles/main.css" />
<link rel="stylesheet" type="text/css" href="/Styles/nav.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">



<nav class="flex bg-blue-900 w-full  justify-between pl-10 items-center  Laptop:flex-col Laptop:pl-0 Mobile:h-screen Mobile:static Laptop:static" style="min-height: 15vh; max-height: auto;">
<h1 class="text-5xl text-blue-100 font-bold antialiased w-1/4 Laptop: mt-2 Laptop:text-center Laptop:w-full">Quizz!</h1>

<div class="flex items-center  w-8/12 justify-around h-full Laptop:w-full Laptop:flex-wrap Mobile:flex-col Mobile:flex-no-wrap ">

<div class="flex items-center bg-purple-700 h-12 w-32  rounded-full hover:bg-purple-600  transition-all duration-500 shadow-md Laptop:my-6 Mobile:my-0">
<i class="fas fa-home text-blue-100 p-4 fa-lg"></i>
<a href="/main/home" class="text-indigo-200 text-lg">Home</a>
</div>

<div class="flex items-center bg-purple-700 h-12 w-40  rounded-full hover:bg-purple-600 shadow-md Laptop:my-4 Mobile:my-0">
<i class="fas fa-puzzle-piece text-blue-100 p-4 fa-lg"></i>
<a href="/main/quizSearch" class="text-indigo-200 text-lg">Quizzes</a>
</div>

<div class="flex items-center bg-purple-700 h-12 w-48  rounded-full hover:bg-purple-600 shadow-md Laptop:my-4 Mobile:my-0">
<i class="fas fa-users text-blue-100 p-4 fa-lg"></i>
<a href="/main/Community" class="text-indigo-200  text-center">Community Quizzes</a>
</div>

<div class="flex items-center bg-purple-700 h-12 w-32  rounded-full hover:bg-purple-600 shadow-md Laptop:my-4 Mobile:my-0">
<i class="fas fa-shopping-cart text-blue-100 p-4 fa-lg"></i>
<a href="/main/store" class="text-indigo-200 text-lg">Store</a>
</div>

<div class="flex items-center bg-purple-700 h-12 w-32  rounded-full hover:bg-purple-600 shadow-md Laptop:my-4 Mobile:my-0">
<i class="fas fa-user text-blue-100 p-4 fa-lg"></i>
<a href="/main/profile" class="text-indigo-200 text-lg">Profile</a>
</div>

</div>

</nav>

<script src="https://kit.fontawesome.com/90526931a4.js" crossorigin="anonymous"></script>
